<!doctype html>
<html lang="en">
    <head>
        <title>Ukazuj-UA - Ukrajinsko-Slovenský obrazkový slovník</title>
        {%- include "head.njk" -%}

    </head>

    <body>
        <div  class="toolbox">
            <a class="share" href="mailto:?subject=Ukrajinsko-Slovensk%C3%BD%20obrazkov%C3%BD%20slovn%C3%ADk&amp;body=Vysk%C3%BA%C5%A1aj%20uua.arcicode.com" target="_blank" rel="noopener noreferrer">✉️zdieľaj</a>
            <a href="javascript:window.print()">🖨 tlač</a>
        </div>

        <div class="card-grid">
            {%- for word in dictionary -%}
                <a href="/slovo/{{ word.sk | slug }}/" class="card {{word.color}}">
                    <div class="emoji">{{ word.emoji }}</div>
                    <div class="lang-sk word">{{ word.sk }}</div>
                    <div class="lang-ua word">{{ word.ua }}</div>
                </a>
            {%- endfor -%}
        </div>

        <h3>Symboly</h3>

        {%- for group in symbols -%}
            <div class="card-grid">
                {%- for s in group -%}
                    <div class="card symbol">
                        {{s}}
                    </div>
                {%- endfor -%}
            </div>
        {%- endfor -%}

        {%- include "footer.njk" -%}

        <script src="/static/script.js"></script>
    </body>
</html>