---
pagination:
    data: dictionary
    size: 1
    alias: word
permalink: "slovo/{{ word.sk | slug }}/"
---
<!doctype html>
<html lang="en">
    <head>
        <title>{{word.sk}} / {{word.ua}} - Ukrajinsko-Slovenský obrazkový slovník</title>
        {%- include "head.njk" -%}

        <style>
            .single-card {
                font-size: 2em;
                margin: auto;

                display: block;

                color: black;

                max-width: 60em;
                text-align: center;
                overflow: auto;
            }
            .single-card .emoji {
                font-size: 3.5em;
                margin: 0.25em 0;
                max-width: 100%;
                overflow: auto;
            }
            .single-card .words {
                text-align: left;
                margin: auto;
                width: fit-content;
            }
            .single-card .word {
                font-size: 2em;
            }
            .single-card .word .t {
                margin-left: 0.25em;
                margin-right: 1em;
            }
            .links {
                display: inline-block;
            }
        </style>
    </head>

    <body>
        <div  class="toolbox">
            <a href="/">⏎späť</a>
            <a class="share" href="mailto:?subject=Ukrajinsko-Slovensk%C3%BD%20obrazkov%C3%BD%20slovn%C3%ADk&amp;body=Vysk%C3%BA%C5%A1aj%uua.arcicode.com" target="_blank" rel="noopener noreferrer">✉️zdieľaj</a>
        </div>

        <div>
            <div class="single-card">
                <div class="emoji">{{ word.emoji }}</div>
                <div class="image">{{ word.img }}</div>
                <div class="words">
                    <div class="lang-sk word">🇸🇰<span class="t">{{ word.sk }}</span>
                        <div class="links">
                            <a href="https://translate.google.com/?q={{word.sk}}&amp;sl=sk&amp;tl=uk" title="Google Translate">🔉</a>
                            <a href="https://www.google.com/search?q={{word.sk}}&amp;tbm=isch">🖼</a>
                        </div>
                    </div>
                    <div class="lang-ua word">🇺🇦<span class="t">{{ word.ua }}</span>
                        <div class="links">
                            <a href="https://translate.google.com/?q={{word.ua}}&amp;sl=uk&amp;tl=sk" title="Google Translate">🔉</a>
                            <a href="https://www.google.com/search?q={{word.ua}}&amp;tbm=isch">🖼</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%- include "footer.njk" -%}

        <script src="/static/script.js"></script>
    </body>
</html>