<div class="footer">
    <div>
        <a href="https://uaa.arcicode.com/">uaa.arcicode.com</a> (v{% version %})
    </div>
    <div>
    Zdrojový kód nájdeš na <a href="https://github.com/pomali/ukazuj-ua">github-e</a>. 
    Feedback daj cez twitter <a href="https://twitter.com/_pomali">@_pomali</a>.
    </div>
</div>