<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Ukrajinsko-Slovenský obrazkový slovník">
<meta name="author" content="pom">

<meta property="og:title" content="Ukrajinsko-Slovenský obrazkový slovník">
<meta property="og:type" content="website">
<meta property="og:url" content="https://uaa.arcicode.com/">
<meta property="og:description" content="Ukrajinsko-Slovenský obrazkový slovník">
<meta property="og:image" content="/static/logo/uua-logo.png">

<link rel="manifest" href="/manifest.webmanifest"/>
<link rel="icon" href="/static/logo/uua-logo.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/static/logo/uua-logo.png">

<link  rel="stylesheet" href="/static/style.css">
<link  rel="stylesheet" href="/static/print.css" media="print">
<link  rel="stylesheet" href="/static/screen.css" media="screen">
{% include "service-worker.njk" %}
<script defer data-domain="uaa.arcicode.com" src="https://plausible.io/js/plausible.js"></script>