.card.honeydew {
  background: honeydew;
}
.card.antiquewhite {
  background: antiquewhite;
}
.card.mistyrose {
  background: mistyrose;
}

.toast {
  display: block;
  border: 1px solid black;
  background: white;
  margin: 1em;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  bottom: 0;
  width: calc(100% - 5em);
}

.toast button {
  background: violet;
  border: 1px solid black;
  float: right;
  font-size: 1em;
  padding: 0.25em 0.5em;
}
